* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*  HEADER */
header {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blanchedalmond;
}

.logo-categorias {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 98vw;
}

.contenedor-categorias {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem;
}

.categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  width: 8rem;
}
.categoria a {
  text-decoration: none;
  color: #4b1e00;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plato {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid violet;
  padding: 0.2rem;
  transition: 0.5s;
}
.plato:hover {
  transform: scale(1.2);
}
.slogan {
  font-style: italic;
  padding: 15px;
}

/*  Recetas.html - MAIN  */

.titulo-categoria {
  font-size: x-large;
  color: #7a3100e0;
  font-style: italic;
  padding: 30px;
  text-align: center;
}

.grid-cards {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  row-gap: 50px;
  column-gap: 30px;
  width: 90vw;
  margin: 0vw 5vw;
}

.micard {
  width: 300px;
  height: 300px;
  border-radius: 10px;

  box-shadow: 5px 4px 5px 0px rgba(189, 174, 174, 0.75);
  -webkit-box-shadow: 5px 4px 5px 0px rgba(189, 174, 174, 0.75);
  -moz-box-shadow: 5px 4px 5px 0px rgba(189, 174, 174, 0.75);
}

.imagen {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.dificultad {
  position: absolute;
  top: 17px;
  right: 10px;
  color: #ffffff;
  font-style: italic;
  font-size: large;
  z-index: 2;
  font-weight: 700;
}

.boton-detalle {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* background-color: rgba(139, 34, 3, 0.58); */
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 600;
  padding: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 3;
}

.shadow {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(139, 34, 3, 0.58) 25%,
    transparent 100%
  );
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.788) 25%, transparent 100%); */
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.shadow-facil {
  display: block;
  position: absolute;
  top: 15px;
  right: 0px;
  width: 60px;
  height: 2rem;
  z-index: 1;
  background: linear-gradient(
    273deg,
    rgba(139, 34, 3, 0.58) 25%,
    transparent 100%
  );
}

/* Recetas.html -  MODAL detalle de receta */
.modal-dialog {
  max-width: calc(100% - 150px) !important ;
}
.modal-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.foto-receta {
  height: 200px;
  position: relative;
}

.foto-receta img {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 5px 4px 5px 0px rgba(189, 174, 174, 0.75);
  -webkit-box-shadow: 5px 4px 5px 0px rgba(189, 174, 174, 0.75);
  -moz-box-shadow: 5px 4px 5px 0px rgba(189, 174, 174, 0.75);
}
.like {
  position: absolute;
  top: 140px;
  right: 30px;
  font-size: xx-large;
  text-decoration: none;
  color: rgb(187, 0, 0);
  filter: drop-shadow(0 0 5px #000000) drop-shadow(0 0 5px #fd6a6a);
}
.like:hover {
  transition: 0.5s;
  transform: scale(1.5);
}

.instrucciones {
  padding-left: 40px;
}

/* FOOTER */
footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: blanchedalmond;
  justify-content: space-evenly;
  margin-top: 55px;
}
.RRSS {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1rem;
}
.App {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1rem;
}

footer p,
footer a {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* INDEX.HTML - Carrousel */
.carousel-item {
  height: 550px;
}
.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.sombra {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(139, 35, 3, 0.733) 25%,
    transparent 100%
  );
}

.carousel-caption h5,
.carousel-caption p {
  color: rgb(255, 255, 255);
  text-shadow: 1px 3px 14px rgba(0, 0, 0, 0.54);
}
/* ACERCA.HTML */
lite-youtube {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  max-width: 100%;
}

.acerca {
  background-color: blanchedalmond;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  margin: 50px 150px;
  position: relative;
}
.martinez {
  position: relative;
}
.imagen1 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.imagen2 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.imagen2:hover {
  filter: blur(5px);
  transition: all 1s ease-in-out;
}

.texto-nosotros {
  font-size: smaller;
  margin: 50px 50px;
}

/* index.html  Splide Paises */
.splide-paises {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#carousel-heading {
  margin-top: 4.5rem;
  margin-bottom: 2.5rem;
  margin-left: 3.5rem;
}

.splide {
  max-width: 960px;
}

.splide__track {
  height: 22rem;
}
.splide__arrow {
  top: 60% !important;
}
.plato-paises {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgb(83 50 0 / 30%);
  padding: 0.2rem;

  box-shadow: 5px 4px 5px 0px rgba(189, 174, 174, 0.75);
  -webkit-box-shadow: 5px 4px 5px 0px rgba(189, 174, 174, 0.75);
  -moz-box-shadow: 5px 4px 5px 0px rgba(189, 174, 174, 0.75);
}

.splide__slide {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



/*-----------------------------
  BLOG PREPARACIÓN
 ------------------------------*/
/* .card-header : Titulo con autor del post */
/* .card-header{
  display: flex;
  flex-direction: row;
}

.card-header h1{
  font-size: x-large;

}

.card-header .author{
  display: inline-flex;
  background-color: azure;
  
} */

.card-post {
  margin: 2rem;
  max-width: 1200px;
  max-height: 50vh;
  border: #414141 1px solid;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  
}

.card-post img {
  border-radius: 30px 0 0 30px;
  max-width: 40%;
  object-fit: cover;
   filter: drop-shadow(0px 0px 1px rgb(171, 170, 168) )
  
   
  }
  
  .card-post img:hover {
    filter: drop-shadow(0px 0px 10px rgb(247, 241, 152) )
    drop-shadow(0px 0px 20px rgb(247, 215, 152) )
    
} 


.card-detail{
  padding: 1em;
}
.post-subtitulo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  align-items: baseline;
}

@media screen and (max-width: 770px) {
  .card-post {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-items: center;
  }
  .card-post img {
    border-radius: 30px 30px 0 0;
    max-width: 100%;
  }
}

/* ---------- Post Modal*/

#detalleModal{
  width: 95vw;
  left: calc(5vw / 2);
}

.detail{
  width: 60%;  
  display: flex;
  flex-direction: column;
}

.author{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.detail-image{
width: 40%;
}

.detail-image img{
  width: 100%;
  border-radius: 10%;
  filter: drop-shadow(0px 0px 10px rgb(247, 241, 152) )
    drop-shadow(0px 0px 20px rgb(247, 215, 152) )
}












